.node {
    border: 2px solid black;
    border-radius: 0px;

    margin: 1px;

    position: relative;
    display: flex;
    
    width: 4rem;
    height: 4rem;

    align-items: center;
    text-align: center;
    justify-content: center;
}