.node {
    border: 0.5px solid black;
    border-radius: 0px;

    margin: 1px;

    position: relative;
    display: flex;
    
    width: 3.5rem;
    height: 3.5rem;

    align-items: center;
    text-align: center;
    justify-content: center;
}