* {
    background-color: #212329;
}

.grid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px solid black;
    padding: 5px;
}

.node-grid {
    background: transparent;
    position: relative;   
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    padding: 5px;
    border: 3px solid black;
    background-color: #151821;
}

.button {
    margin: 0.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 200px;
    height: 60px;
    background-color: #4200ad;
    border-radius: 10px;
    border: none;
    color: whitesmoke
}

.button:hover {
    background-color: #4c00c7; 
    cursor: pointer;
}

.button:disabled {
  opacity: 0.4;
}

.button:active {
    transform: translateY(3px);
 }

.speed-slider {
  appearance: none;
  -webkit-appearance: none;
  height: 1.5em;
  width: 15em;
  background-color: #59575d;
  border-radius:10px;
}

.speed-slider:disabled {
  opacity: 0.4;
}

.speed-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #4c00c7;
  cursor: pointer;
}

.slidecontainer {
  border: 1px solid white;
  display: flex;
  gap: 5px;
  position: relative;
  background-color: transparent;
  padding: 5px;
  margin: 5px;
  justify-content:space-between;
  align-items: center;
  
}

.slider-text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  background-color: transparent;
}
