* {
    background-color: #5f4d85;
}

.grid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: 2px solid black;
    padding: 5px;
}



.node-grid {
    background: transparent;
}

.nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    padding: 5px;
    border: 3px solid black;

}


.button {
    width: 200px;
    height: 60px;
    background-color: #4b00cc;
    border-radius: 20px;
}

.node-shortest-path {
    background-color: blue;
}